@import "../mixin/breakpoint";

.lh-xl-15 {
	@include breakpoint-down(1199) {
		line-height: 1.5;
	}
}

.lh-15 {
	line-height: 1.5;
}

.lh-16 {
	line-height: 1.6;
}

.txt-editor {
	text-align: justify;
	p {
		&:not(:last-child) {
			margin-bottom: 25px;
		}
	}
}

.txt-sm-13 {
	@include breakpoint-down(575) {
		font-size: 13px !important;
	}
}

.txt-sm-12 {
	@include breakpoint-down(575) {
		font-size: 12px !important;
	}
}

.txt-sm-14 {
	@include breakpoint-down(575) {
		font-size: 14px !important;
	}
}

.txt-sm-12 {
	@include breakpoint-down(575) {
		font-size: 12px !important;
	}
}

.txt-11 {
	font-size: 11px;
}

.txt-12 {
	font-size: 12px;
}

.txt-13 {
	font-size: 13px;
}

.txt-14 {
	font-size: 14px;
}

.txt-15 {
	font-size: 15px;
}

.txt-16 {
	font-size: 16px;
}

.txt-18 {
	font-size: 18px;
	@include breakpoint-down(575) {
		font-size: 16px;
	}
}

.txt-20 {
	font-size: 20px;
}

.txt-24 {
	font-size: 24px;
	@include breakpoint-down(575) {
		font-size: 20px;
	}
}

.txt-32 {
	font-size: 32px;
	@include breakpoint-down(575) {
		font-size: 24px;
	}
}

.txt-up1400-50 {
	@include breakpoint-up(1400) {
		font-size: 50px;
	}
}

.muli-300 {
	font-family: muli-300 !important;
}

.muli-400 {
	font-family: muli-400 !important;
}

.muli-500 {
	font-family: muli-500 !important;
}

.muli-600 {
	font-family: muli-600 !important;
}

.muli-700 {
	font-family: muli-700 !important;
}

.muli-800 {
	font-family: muli-800 !important;
}
