html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

ol,
ul,
li {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

ul {
	padding: 0;
	list-style-type: none;
}

a,
a:hover {
	text-decoration: none;
}

a {
	color: #0084ff;
	transition: 200ms linear;
}

html,
body {
	width: 100%;
	height: 100%;
	font-size: 16px;
	font-family: qsand-300;
	margin: 0;
	line-height: 1.3;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.fvn-img {
	max-width: 100%;
	height: auto;
}

.fvn {
	.container {
		@include breakpoint-up(576) {
			max-width: 660px;
		}
		@include breakpoint-up(768) {
			max-width: 840px;
		}
		@include breakpoint-up(992) {
			max-width: 1020px;
		}
		@include breakpoint-up(1200) {
			max-width: 1200px;
		}
	}
}

.hr-custom {
	color: rgba(255, 253, 246, 1);
}

.w100 {
	width: 100%;
}
.w70 {
	width: 70%;
}

.fvn-overlay {
	@include breakpoint-down(1199) {
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(#000000, 0.37);
		}
	}
}

.hr-custom-01 {
	height: 1px;
	background-color: rgba(0, 0, 0, 0.1);
}
