$default-px: 16;
$spacer: 1rem !default;
$spacers: () !default;
@for $i from 0 through 185 {
  $spacers: map-merge(
    (
      $i: (
        $spacer * ($i / $default-px),
      ),
    ),
    $spacers
  );
}

$settings-color: (
  colorBluePurple: #4540db,
  colorDarkBlack: #212139,
  colorDarkBlue: #3abcca,
  colorBlue: #66f0e3,
  colorlightBlue: #525a6d,
  colorlightBlue01: rgba(194, 222, 234, 0.2),
  colorlightGrey: rgba(203, 205, 211, 0.3),
  colorlightGrey01: #cbcdd3,
  colorRed: #f81e40,
  colorYellow: #fb8758,
  colorPurple: #c23bd5,
  colorGreen: #25ce95,
  colorDarkBlackHover: #000,
);

.cl-white {
  color: #fff !important;
}

.cl-bluepurple {
  color: map-get($settings-color, colorBluePurple) !important;
}

.cl-darkblack {
  color: map-get($settings-color, colorDarkBlack) !important;
}

.cl-darkblue {
  color: map-get($settings-color, colorDarkBlue) !important;
}

.cl-blue {
  color: map-get($settings-color, colorBlue) !important;
}

.cl-lightblue {
  color: map-get($settings-color, colorlightBlue) !important;
}

.cl-lightgrey {
  color: map-get($settings-color, colorlightGrey) !important;
}

.cl-lightgrey01 {
  color: map-get($settings-color, colorlightGrey01) !important;
}

.cl-red {
  color: map-get($settings-color, colorRed) !important;
}

.cl-yellow {
  color: map-get($settings-color, colorYellow) !important;
}

.cl-purple {
  color: map-get($settings-color, colorPurple) !important;
}

.cl-green {
  color: map-get($settings-color, colorGreen) !important;
}
