.triangle-wrap {
   position: relative;
   .triangle {
      position: absolute;
   }
}
.triangle-topleft {
   width: 0;
   height: 0;
   border-top: 100px solid #fff;
   border-right: 100px solid transparent;
}

.triangle-bottomright {
   width: 0;
   height: 0;
   border-bottom: 100px solid map-get($settings-color, colorBluePurple);
   border-left: 100px solid transparent;
}
