.fvn-contact {
  &__list-item {
    &:not(:last-child) {
      margin-bottom: 15px;
      @include breakpoint-down(575) {
        margin-bottom: 10px;
      }
    }
    span {
      + a {
        margin-left: 15px;
        color: map-get($fvn-color, black);
      }
    }
    .fvn-img {
      width: 13px;
    }
  }
  &__area {
    .button {
      width: 100%;
    }
  }
}
