.fvn-where-buy {
  .title-h2 {
    + span {
      color: map-get($fvn-color, textColor);
      a {
        color: map-get($fvn-color, black);
      }
    }
  }
  @include breakpoint-down(991) {
    background-image: url("../../images/rectangle3.jpg") !important;
    background-position: bottom;
  }
}

.fvn-brand-slider {
  .slick-track {
    display: flex;
    align-items: center;
  }
  .slick-next,
  .slick-prev {
    &:before,
    &:after {
      content: none;
    }
    .fvn-img {
      max-width: 40px;
      transition: 200ms ease-in-out;
      @include breakpoint-down(736) {
        max-width: 35px;
      }
      &:hover {
        opacity: 0.85;
      }
    }
    &.slick-disabled {
      pointer-events: none;
      .fvn-img {
        opacity: 0.2;
      }
    }
  }
  .slick-next {
    right: 20px;
    .fvn-img {
      transform: rotate(180deg);
    }
  }
  .slick-prev {
    left: 0;
  }
  &__item {
    position: relative;
    overflow: hidden;
    text-align: center;
    &:focus {
      outline: 0;
    }
  }
  &__wrap {
    display: flex;
    align-items: center;
    @include breakpoint-down(991) {
      flex-wrap: wrap;
      justify-content: center;
    }
    .fvn-brand-slider {
      &__item {
        width: 33.3333%;
        @include breakpoint-down(991) {
          width: 50%;
          flex: 0 0 50%;
          margin-bottom: 15px;
        }
        .fvn-img {
          max-width: 170px;
          margin: auto;
          @include breakpoint-down(767) {
            max-width: 90%;
          }
        }
      }
    }
  }
}
