.freelance-footer {
   position: relative;
   padding-top: 95px;
   background: map-get($settings-color, colorDarkBlack);
}

.footer-triangle {
   position: absolute;
   top: 0;
}

.footer-logo {
   @include breakpoint-down(667) {
      max-width: 250px;
   }
}

.coppyright {
   background: map-get($settings-color, colorBluePurple);
}
