.freelance-footer {
   position: relative;
   padding-top: 95px;
   background: map-get($settings-color, colorDarkBlack);
}

.footer-triangle {
   position: absolute;
   top: 0;
}

.coppyright {
   background: map-get($settings-color, colorBluePurple);
}
