.freelance-navbar {
   padding: 10px 0;
   // border-bottom: 1px solid #eee;
   .navbar-logo {
      max-width: 160px;
      margin-top: 7px;
   }
   #freelance-nav {
      padding-left: 30px;
   }
   .nav-item {
      .nav-link {
         font-family: muli-600;
         color: map-get($settings-color, colorDarkBlack);
         transition: color 300ms ease-in-out;
         &:hover {
            color: map-get($settings-color, colorBluePurple);
         }
      }
      + .nav-item {
         margin-left: 25px;
      }
   }
   .search-icon {
      cursor: pointer;
      > img {
         max-width: 18px;
         transition: opacity 300ms ease-in-out;
         &:hover {
            opacity: 0.75;
         }
      }
   }
}
